PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/smart-retail
MONGODB_URI=mongodb://127.0.0.1:27017/smart-retail
JWT_SECRET=smartretail_super_secret_jwt_key_2024
EXCHANGE_WINDOW_HOURS=24
